---

interface Props {
  title: string;
  description: string;
  img: string;
  isbn: string;
  price: number;
}

const {title, description, img, isbn, price} = Astro.props

const b: number = 3;
const a = parseFloat(price).toFixed(2);
const priceDiscount = parseFloat(a - b).toFixed(2);
const ref = "/book/" + isbn

---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--<div class="w-80 flex flex-col p-5 border-3 border-[#45BEAA] hover:bg-[#A0DCD2]">-->
<div class="w-80 flex flex-col p-5 hover:bg-[#A0DCD2] ">
  <a href={ref}>
    <img src={img} class="w-50 h-80">
    <p class="mt-5">{title}</p>
    <p>{description}</p>
    <p class="line-through text-gray-600">{price} €</p>

    <div class="flex flex-row  items-center ">
      <p class="text-2xl text-red-600">{priceDiscount} €</p>
      <i class="ml-3 fa fa-star text-yellow-400"></i>
      <i class="ml-1 fa fa-star text-yellow-400"></i>
      <i class="ml-1 fa fa-star text-yellow-400"></i>
      <i class="ml-1 fa fa-star text-yellow-400"></i>
      <i class="ml-1 fa fa-star text-yellow-400"></i>


    </div>
    
    <p class="mt-5 text-xl text-[#45BEAA]">¡Free shipping! </p>
  </a>
</div>