---
import Layout from '../../layouts/Layout.astro';
import Description from '../../components/Description.astro';
import GenericDescription from '../../components/GenericDescription.astro';

const { id } = Astro.params;

const book = await fetch('https://book-967097485204.europe-southwest1.run.app?isbn=' + id).then((response) => response.json());

const title = book[0].title
const author = book[0].author
const img = book[0].img
const price = parseFloat(book[0].price).toFixed(2)
const priceDiscount = parseFloat(price - 3).toFixed(2);
---

<Layout >

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w-280 flex flex-row p-5 ml-20 mt-10">
    <img src={img} class="w-50 h-80">
    <div class="flex flex-col p-5 w-150">
        <h2>Sinopsis</h2>
        <Description server:defer>
            <GenericDescription slot="fallback"/>
        </Description>
    </div>
    <div class="flex flex-col p-5">
        <p> ISBN {id}</p>
        <p class="mt-5">{title}</p>
        <p>{author}</p>
        <p class="line-through text-gray-600">{price} €</p>

        <div class="flex flex-row items-center w-50">
        <p id="price-discount" class="text-2xl text-red-600">{priceDiscount} €</p>
        <i class="ml-3 fa fa-star text-yellow-400"></i>
        <i class="ml-1 fa fa-star text-yellow-400"></i>
        <i class="ml-1 fa fa-star text-yellow-400"></i>
        <i class="ml-1 fa fa-star text-yellow-400"></i>
        <i class="ml-1 fa fa-star text-yellow-400"></i>
        </div>

        <button id="add-cart" class="mt-5 bg-[#45BEAA] p-2 w-40 hover:bg-[#FFEB78] rounded-xl ">Add to cart</button>
        
        <p class="mt-5 text-xl text-[#45BEAA]">¡Free shipping! </p>
    </div>
</div>

<script>
    // Client side javascript code
    import { addToCart } from '../../cart';

    let amount = document.getElementById('price-discount');

    document.getElementById('add-cart')?.addEventListener('click', async () => {
        addToCart(amount?.textContent?.split(' ')[0])
  });
</script>
</Layout >
